<% breadcrumb :notification %>
<div class="container">
  <div class="user-box">
    <div class="row">
      
      
      <div class="col-sm-4">
        <div class="box-1">
        <%= render 'shared/side_menu' %>
        </div>
      </div>
      
      
      
      <div class="col-sm-8">
        <div class="box-2">
          <div class="row bar-type">
            <div class="col-sm-6 <%= "bar-type-active" if current_page?(notifications_path) %>">お知らせ</div>
            <div class="col-sm-6" >やることリスト</div>
          </div>
          <%= render 'index' %>
        </div>
      </div>
      
    </div> 
  </div>
</div>


<%= render 'shared/display_btn' %>