<% breadcrumb :users %>
<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
<ul>
  <li>
    <% if user.image %>
      <%= image_tag "/user_images/#{user.image}", width: "100px" %>
    <% end %>  <!--デフォルト設定したので、みんなが画像をもてたらけす -->
    <%= link_to user.name, user_path(user) %>
  </li>    
</ul>
<% end %>

<%= render 'shared/display_btn' %>
<!--出品ボタン-->