<div class="container">
  <div class="user-box">
    <div class="row">
      
      
      <div class="col-sm-4">
        <div class="box-1">
        <%= render 'shared/side_menu' %>
        </div>
      </div>
      
      
      
      <div class="col-sm-8">
        <div class="box-2">
          <div class="user-items-bar">
            <h6>いいね！一覧</h6>
          </div>
          <%= render 'index' %>
        </div>
      </div>
      
    </div> 
  </div>
</div>


<%= render 'shared/display_btn' %>