<div class="container">
  <div class="user-box row">
      
    <div class="col-sm-4">
      <div class="box-1">
      <%= render 'shared/side_menu' %>
      </div>
    </div>
  
    <div class="col-sm-8">
      <div class="box-2">
        <%= render 'form' %>
      </div>
    </div>
    
     
  </div>
</div>


<%= render 'shared/display_btn' %>