 <div id="display-btn">
    <%= link_to new_item_path do %>
    <div class="display-btn">
      <div>
        <h4>出品</h4>
        <p><%= fa_icon "camera 4x" %></p>
        
      </div>
    </div>  
    <% end %>
  </div>  