<div id="item-index-wrapper">
  <div class="container">
    <div class="top-box">
      <h3>&nbsp;&nbsp;新着の商品一覧</h3>
      <div class="index-items row">
        <%= render 'shared/items' %>
      </div>
  　
    <%= render 'shared/display_btn' %>
    </div>
  </div> 
</div>