// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//items/_form
.form-group {
  p {
    display: none;
    color: red;
    font-size: 0.9rem;
  }
}


.form-price {
  position: relative;
  .price-field {
    position: absolute;
    top: 0;
    right: 0;
  }

  .price-mark {
    position: absolute;
    top: 5px;
    right: 315px;
  }
  .error-price {
    position: absolute;
    top: 40px;
    right: 75px;
  }
}
.item-name, .item-price-info {
  text-align: center;
}

.item-price {
  font-size: 40px;
}

.item-info table {
  height: 350px;
  width: 300px;
  border: #f8f8f8;
} tr {
  text-align: center;
  font-size: 0.9rem;
} th {
  background: #f8f8f8;
  font-weight: 500;
}


//item_show

.item-box {
  .item-image {
    position: relative;
    box-sizing: inherit;
  }
  .sold-mark {
   position: absolute;
   top: 0;
   width: 0px;
   height: 0px;
   border-top: 60px solid red;
   border-right: 60px solid transparent;
   border-bottom: 60px solid transparent;
   border-left: 60px solid red;
   p {
     position: absolute;
     top: -40px;
     left: -55px;
     transform: rotate(-45deg);
     font-size: 1.7rem;
     color: white;
     letter-spacing: 2px;
   }
  }
}

// itemモーダル
#grayLayer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  height: 2000px;
  width: 100%;
  z-index: 20;
}
#overLayer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 30;
  .modal-large {
    animation: large-fadeIn 0.5s ease 0s;
  }
  .modal-small {
    animation: small-fadeOut 0.5s ease 0s;
  }
}
@keyframes large-fadeIn {
  0% {margin: 0 auto;
      transform: scale(0.2,0.2)}
  100% {transform: scale(1,1)}  
}
@keyframes small-fadeOut {
  0% {transform: scale(1,1)}
  100% {transform: scale(0.2,0.2)}
}

// itemの詳細検索//////////
.search-box {
  background: white;
  padding: 10px 20px;
  width: 85%;
  .search-form-box { 
    margin-bottom: 30px;
    .label {
      font-size: 14px;
      .label-icon {
        margin-right: 4px;
        font-size: 18px;
        opacity: 0.6;
      }
    }
    .search-form {
      height: 42px;
      border: solid 1px #e1e1e1;
      border-radius: 3px 3px;
    }
    .search-text-form {

    }
    .search-price-form {
      display: inline-block;
      width: 115px;
      font-size: 0.9rem;
    }
    .search-checkbox {
      position: relative;
      display: inline-block;
      height: 2.5rem;
      width: 100px;
      margin-left: 5px;
      .checkbox {
        position: absolute;
        top: 1rem;
        display: inline-block;
        transform: scale(1.5);
        opacity: 0.6;
      }
      .check-box-label {
        position: absolute;
        left: 25px;
        display: inline-block;
        width: 85px;
        line-height: 3rem;
        font-size: 0.85rem;
      }
      .check-box-label-2 {
        padding-top: 5px;
        line-height: 1.2rem;
      }
    }
  }
}
.search-result {
  padding-bottom: 6px;
  .search-name {
    margin-left: -5px;
    font-size: 1.6rem;
    font-weight: 600;
    span {
    font-size: 1rem;
    font-weight: 500;
    }
  }
  .search-item-count {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.6;
  }
}

/////////取引画面のsidebar/////////////////

.trading-sidebar tr {
  cursor: default;
}
.trading-th {
  margin-left: 10px;
  .trading-user-img {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    border-radius: 50%;
  }
}
.trading-td {
  margin: 10px 10px;
  text-align: left;
  .trading-td-icon {
    position: absolute;
    top: 22px;
    right: 20px;
  }
}  
.trading-buyer {
  color: black;
  &:hover {
    .trading-user-img {
      opacity: 0.7;
    }
  }
}
.trading-item-link:hover {
  opacity: 0.7;
}
////////////////////////////////////////
#trading-wrapper {
  background: white;
  h4 {
    padding: 10px 0;
    text-align: center; 
    font-weight: 600;
  }
}