// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//items/_form
.form-group {
  p {
    display: none;
    color: red;
    font-size: 0.9rem;
  }
}


.form-price {
  position: relative;
  .price-field {
    position: absolute;
    top: 0;
    right: 0;
  }

  .price-mark {
    position: absolute;
    top: 5px;
    right: 315px;
  }
  .error-price {
    position: absolute;
    top: 40px;
    right: 75px;
  }
}
.item-name, .item-price-info {
  text-align: center;
}

.item-price {
  font-size: 40px;
}

.item-info table {
  height: 350px;
  width: 300px;
  border: #f8f8f8;
} tr {
  text-align: center;
  font-size: 0.9rem;
} th {
  background: #f8f8f8;
  font-weight: 500;
}


//item_show

.item-box {
  .item-image {
    position: relative;
    box-sizing: inherit;
  }
  .sold-mark {
   position: absolute;
   top: 0;
   width: 0px;
   height: 0px;
   border-top: 60px solid red;
   border-right: 60px solid transparent;
   border-bottom: 60px solid transparent;
   border-left: 60px solid red;
   p {
     position: absolute;
     top: -40px;
     left: -55px;
     transform: rotate(-45deg);
     font-size: 1.7rem;
     color: white;
     letter-spacing: 2px;
   }
  }
}

// itemモーダル
#grayLayer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  height: 2000px;
  width: 100%;
  z-index: 20;
}
#overLayer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 30;
  .modal-large {
    animation: large-fadeIn 0.5s ease 0s;
  }
  .modal-small {
    animation: small-fadeOut 0.5s ease 0s;
  }
}
@keyframes large-fadeIn {
  0% {margin: 0 auto;
      transform: scale(0.2,0.2)}
  100% {transform: scale(1,1)}  
}
@keyframes small-fadeOut {
  0% {transform: scale(1,1)}
  100% {transform: scale(0.2,0.2)}
}

// itemの詳細検索//////////
.search-box {
  background: white;
  padding: 10px 22px;
  .search-form-box { 
    margin-bottom: 30px;
    .search-form {
      height: 42px;
      border: solid 1px #e1e1e1;
      border-radius: 3px 3px;
    }
    .search-text-form {
      width: 100%;
    }
    .search-price-form {
      display: inline-block;
      width: 138px;
      font-size: 0.9rem;
    }
  }
}