// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// like-btnについて

.like-btn {
  width: 125px;
  padding: 2px 0;
  position: relative;
  border-radius: 30px;
  &:focus {
    outline: 0;
  }
  .like-icon {
    position: absolute;
    top: 4px;
    left: 16px;
    font-size: 0.98rem;
  }
  .like-text {
    position: absolute;
    top: 6px;
    left: 40px;
    font-size: 14px;
  }
  .like-count {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 14px;
  }
}  

.btn-like {
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 1px;
  background: #f1f1f1;
  .like-icon {
    opacity: 0.5;
  }
}

.btn-unlike {
  color: red;
  border-color: red;
  border-style: solid;
  border-width: 1px;
  background: white;
  .like-icon{
  animation: plun 0.8s ease 0s;
  }
}
  
@keyframes plun {
  0% {transform: scale(1,1);}
  40% {transform: scale(1.5,0.8);}
  50% {transform: scale(0.8,1.4);}
  100% {transform: scale(1,1);}
}  