// form
#page-wrapper {
  margin-top: 20px;
} h2 {
  opacity: 0.6;
  text-align: center;
} .page-container {
  margin: 40px 220px;
  background: white;
} .page {
  padding: 40px 30px;
}

// user_page
// .user-box {
//   .box-1 {
//   background: white;
//   width: 300px;
//   height: 100%;
//   margin-left: 20px;
  
// }
// .box-2 {
//   background: white;
//   margin-right: 25px;
// }
 
// }