// よく使うpageのレイアウト
#page-wrapper {
  margin-top: 20px;
  h2 {
    text-align: center;
  }
  .page-logo {
    text-align: center;
  } 
  .page-container {
    margin: 40px 200px;
    background: white;
     .page {
       padding: 50px 45px;
       font-size: 1.1rem;
       
     }
    .page-1 {
       border-bottom: solid 1px #f5f5f5;
       padding-top: 30px;
       p {
         text-align: center;
         margin-bottom: 30px;
         font-size: 1.35rem;
         font-weight: 600;
       }
    }
    .page-2 {
      border-top: solid 5px #f1f1f1;
    }
  }
}
// ////////////////////////////////////////

// formのlabel//////////////////
.label {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  // 「必須」マーク
  .mandatory {
    position: absolute;
    margin-left: 10px;
    display: inline-block;
    padding: 2px;
    background: red;
    font-size: 0.7rem;
    color: white;
    width: 30px;
    text-align: center;
    font-weight: 200;
    border-radius: 2px 2px;
  }
  // 「任意」マーク
  .any {
    position: absolute;
    margin-left: 10px;
    display: inline-block;
    padding: 2px;
    background: gray;
    opacity: 0.5;
    font-size: 0.7rem;
    color: white;
    width: 30px;
    text-align: center;
    font-weight: 200;
    border-radius: 2px 2px;
  }
}  
//////////////////////////////////



// user情報の編集ページいろいろ///////////////////
// 本人情報page用container
.identity-container {
  padding: 30px 60px;
  font-size: 0.85rem;
}
// ////////////////////////

// プロフィール・発送元/お届け先住所・メール/パスワードpage用container
.edit-container {
  padding: 30px 180px;
  background: white;
}
// ///////////////////////

// user情報編集ページのheading
.heading {
  border-bottom: solid 2px #f1f1f1;
  height: 58px;
  background: white;
  line-height: 58px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}
// /////////////////////////////

// プロフィールpage用
.edit-page {
  position: relative;
  height: 170px;
  background-image: url("/user_images/user_background2.jpeg");
  .edit-image {
    position: absolute;
    bottom: 20px;
    left: 200px;
  }
  .edit-name {
    position: absolute;
    bottom: 28px;
    right: 200px;
    width: 220px;
    height: 50px;
    border: solid 1px #d1d1d1;
    &:focus {
      outline: solid 1px #3399ff;
    }
  }
}
.edit-form-body {
  padding: 10px 20px;
  .edit-body {
    width: 100%;
    border: solid 1px #d1d1d1;
    &:focus {
      outline: solid 1px #3399ff;
    }
  }
}
// ///////////////////////////////