// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  text-align: center;
}

.hero {
  background-image: url("rectangle_large_type_2_46ffcfccf4f8a9fb448290dafd69d2c1.jpg");
  margin-top: -15px;
}

.jambotron {
  padding: 6rem 2rem;
}

#top-wrapper {
  h1 {
    padding-top: 20px;
    opacity: 0.6;
    text-align: center;
  }
  .top-items {
    padding: 100px 120px; 
    .items-box {
      border: solid 0.01px rgba(0,0,0,0.1);
      margin-bottom: 20px; 
      box-shadow: 1px 2px 6px 1px
      rgba(0,0,0,0.2);
      &:hover {
        border: solid 0.1px blue;
      }
      .top-img {
        position: relative;
        margin-bottom: -12px;
        // height: 70%;
      }
      .card-price {
        position: absolute;
        bottom: 0px;
        left: 0;
        background: rgba(0,0,0,0.4);
        color: white;
        padding: 2px 8px;
        border-radius: 0 15px 15px 0;
      } 
      .top-item-body {
        position: relative;
        background: white;
        height: 55px;
        font-size: 0.8rem;
        padding: 8px 14px;
        color: black;
        .top-item-like {
          display: inline-block;
          position: absolute;
          right: 10px;
          bottom: 10px;
          opacity: 0.6;
        }
      }
    }
   .item-link {
     text-decoration: none;
   }  
  
                          
  }
}


